* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
    margin: 12px;
    padding: 0em;
    max-width: 100%;
}

h1 {
    font-size: 44px;
    line-height: 1.15em;
    font-weight: 100;
    letter-spacing: -0.02em;

    margin: 0;
    padding: 0;
}

h2 {
    font-size: 22px;
    line-height: 1.15em;
    font-weight: 100;
    letter-spacing: -0.02em;

    margin: 0;
    padding: 0;
}

h3 {
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 100;
    letter-spacing: -0.02em;

    margin: 0;
    padding: 0;
}

span {
    font-style: oblique;
}

/* HOMEPAGE */
/* wrapper */

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(12px, auto);
    column-gap: 12px;
}

/* header - nav */

.header-container {
    grid-column: span 12;
}

.nav-container {
    background-color: white;
    
    font-size: 22px;
    line-height: 1.5em;
    font-weight: 100;
    letter-spacing: -0.03em;
    list-style: none;

    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 26px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 12px;
    align-items: flex-start;
}

.nav-item1 {
    grid-column: span 2;
    height: 26px;
}

.nav-item2 {
    grid-column: 11 / 12;
    height: 26px;
}

.nav-item3 {
    grid-column: 12 / 13;
    text-align: right;
    height: 26px;
}

.nav-container :link {
    color: black;
    text-decoration: none;
}

.nav-container :hover {
    color: black;
    text-decoration: none;
    font-style: italic;
}

.nav-container :visited {
    color: black;
    text-decoration: none;
}

/* subtitle */

.homepage-subtitle-container {
    grid-column: 1 / 5;
    margin-top: 24px;
    margin-bottom: 48px;
}

/* main */

#main-container {
    grid-column: span 10;
}

.main-homepage-project-item {
    background-color: black;
    height: 780px;
}

.text-item1 {
    color: white;
    text-align: center;

    position: relative;
    top: 746px;
}

.text-item2 {
    color: white;
    text-align: right; 

    margin-right: 12px;

    position: relative;
    top: 722px;

}

.slider {
    position: relative;
    left: 137px;
    top: 18px;
}

.main-homepage-project-description {
    margin-top: 24px;
    margin-bottom: 108px;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 12px;
}

.project-description1 {
    grid-column: span 2;
}

.project-description2 {
    grid-column: 3 / 4;
}

.project-description3 {
    grid-column: 5 / 10;

}

/* aside */

#aside-container {
    grid-column: 11 / 13;
}

/*

#aside-container {
    position: fixed;
    right: 12px;
    top: 46px;
}

*/


.graphic-title {
    margin-bottom: 24px;
}

/* INFO */

.about {
    margin-top: 24px;
}

.info {
    margin-top: 48px;
}

.cv {
    margin-top: 48px;
}

.link :link {
    color: black;
    text-decoration: none;
}

.link :hover {
    color: black;
    text-decoration: none;
    font-style: italic;
}

.link :visited {
    color: black;
    text-decoration: none;
}












