* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
    margin: 12px;
    padding: 0em;
}

h1 {
    font-size: 44px;
    line-height: 1.15em;
    font-weight: 100;
    letter-spacing: -0.02em;

    margin: 0;
    padding: 0;
}

h2 {
    font-size: 22px;
    line-height: 1.15em;
    font-weight: 100;
    letter-spacing: -0.02em;

    margin: 0;
    padding: 0;
}

h3 {
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 100;
    letter-spacing: -0.02em;

    margin: 0;
    padding: 0;
}

span {
    font-style: oblique;
}

video {
    margin-top: 48px;
}

/* INDEX */

.wrapper {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    column-gap: 12px;
}

.header-container {
    grid-column: span 14;
    height: 28px;
}

.nav-container {
    background-color: white;
    
    font-size: 22px;
    line-height: 1.5em;
    font-weight: 100;
    letter-spacing: -0.03em;
    list-style: none;

    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 26px;

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    column-gap: 12px;
}

.nav-item1 {
    grid-column: span 2;
}

.nav-item2 {
    grid-column: 12 / 13;
}

.nav-item3 {
    grid-column: 14 / 15;
    text-align: right;
}

.nav-container :link {
    color: black;
    text-decoration: none;
}

.nav-container :hover {
    color: black;
    text-decoration: none;
    font-style: italic;
}

.nav-container :visited {
    color: black;
    text-decoration: none;
}

#main-container {
    grid-column: span 11;
}

.homepage-subtitle-container {
    width: 40%;
    margin-top: 24px;
    margin-bottom: 48px;
}

.main-homepage-project-item {
    background-color: black;

    width: 100%;
    height: 751px;
}

.project-item {
    margin-top: 54px;
    margin-left: 88px;

    width: 85%;
    height: auto;
}

.project-item-aside {
    width: 100%;
    height: auto;
}

.main-homepage-project-description {
    margin-top: 24px;
    margin-bottom: 108px;
    
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    column-gap: 12px;
}

.project-description1 {
    grid-column: span 2;
}

.project-description2 {
    grid-column: 4 / 5;
}

.project-description3 {
    grid-column: 7 / 12;
}

#aside-container {
    grid-column: span 3;
}

.graphic-title {
    margin-bottom: 24px;
    margin-top: 6px;
}

.graphic-title2 {
    margin-top: 6px;
}

/* INFO */

.about {
    margin-top: 24px;
    width: 100%;
}

.info {
    margin-top: 48px;
}

.cv {
    margin-top: 48px;
}

.link :link {
    color: black;
    text-decoration: none;
}

.link :hover {
    color: black;
    text-decoration: none;
    font-style: italic;
}

.link :visited {
    color: black;
    text-decoration: none;
}

.top :link {
    color: black;
    text-decoration: none;
}

.top :hover {
    color: black;
    text-decoration: none;
    font-style: italic;
}

.top :visited {
    color: black;
    text-decoration: none;
}















