* {
    box-sizing: border-box;
}

:root {
    --background-color: #ffffff;
    --main-color: #000000;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);

    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 500;
    font-style: normal;
    
    margin: 0.5em;
    padding: 0em;
}

/* MAIN */

h1 {
    font-size: 94px;
    line-height: 1em;
    font-weight: 400;
    letter-spacing: -0.02em;

    margin: 0;
    padding: 0;
}

h2 {
    font-size: 44px;
    line-height: 1em;
    font-weight: 400;
    letter-spacing: -0.02em;

    margin: 0;
    padding: 0;
}

h3 {
    font-size: 22px;
    line-height: 1em;
    font-weight: 400;
    letter-spacing: -0.02em;

    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
    letter-spacing: -0.02em;

    margin: 0;
    padding: 0;
}

@media (max-width: 414px) {
    h1 {
        font-size: 44px;
        margin-top: 0;     
    }
}

@media (max-width: 414px) {
    h2 {
        font-size: 22px;
        margin-top: 0;     
    }
}

@media (max-width: 414px) {
    h3 {
        font-size: 22px;
        margin-top: 0;     
    }
}

@media (max-width: 414px) {
    p {
        font-size: 18px;
        margin-top: 0;
    }
}

@media (max-width: 414px) {
    .top {
        display: none;
    }
}

.oblique {
    font-style: oblique;
}

.next {
    grid-column: 13 / 15;
    text-align: right;
    grid-row: 1 / 2;
}

@media (max-width: 414px) {
    .next {
       grid-column: 2 / 15;
    }
}

.previews {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

@media (max-width: 414px) {
    .previews {
       grid-column: 1 / 15;
    }
}

/* INDEX */

.wrapper {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    column-gap: 12px;
}

.header-container {
    grid-column: span 14;
    height: 28px;
}

.nav-container {
    background-color: var(--background-color);
    
    font-size: 22px;
    line-height: 1.15em;
    font-weight: 400;
    letter-spacing: -0.02em;
    list-style: none;

    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 26px;

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    column-gap: 12px;
}

.nav-item1 {
    grid-column: span 2;
}

@media (max-width: 414px) {
    .nav-item1 {
        grid-column: 1 / 10;
    }
}

.nav-item2 {
    grid-column: 12 / 13;
}

.nav-item3 {
    grid-column: 14 / 15;
    text-align: right;
}

a:link {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    color: var(--main-color);
    text-decoration: none;
    font-style: italic;
}

a:visited {
    color: var(--main-color);
    text-decoration: none;
}

#main-container {
    grid-column: span 11;
}

@media (max-width: 414px) {
    #main-container {
        grid-column: span 14;
        margin-top: 0;    
    }
}

.homepage-subtitle-container {
    width: 50%;
    margin-top: 24px;
    margin-bottom: 64px;
}

@media (max-width: 414px) {
    .homepage-subtitle-container {
        width: 100%;
        margin-top: 6px;
        margin-bottom: 12px;
    }
}

@media (max-width: 414px) {
    .homepage-subtitle-container {
        display: none;
    }
}

.main-homepage-project-item {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    column-gap: 12px;
}

.project-item {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .project-item-aside {
        display: none;
    }
}

.project-item-aside {
    width: 100%;
    height: auto;
}

.main-homepage-project-description {
    margin-top: 24px;
    margin-bottom: 108px;
    
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    column-gap: 12px;
}

@media (max-width: 414px) {
    .project-description2 {
        display: none;   
    }
}

@media (max-width: 414px) {
    .project-description3 {
        display: none;   
    }
}

@media (max-width: 414px) {
    h2 {
        font-size: 22px;
        margin-top: 0;     
    }
}

@media (max-width: 414px) {
    .main-homepage-project-description {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.project-description1 {
    grid-column: span 2;
}

@media (max-width: 414px) {
    .project-description1 {
        grid-column: span 6;
    }
}

.project-description2 {
    grid-column: 4 / 5;
}

.project-description3 {
    grid-column: 7 / 12;
}

@media (max-width: 768px) {
    #aside-container {
        display: none;
    }
}

#aside-container {
    grid-column: span 3;
}

@media (max-width: 768px) {
    .graphic-title {
        display: none;
    }
}

.graphic-title {
    margin-bottom: 24px;
    margin-top: 6px;
}

@media (max-width: 768px) {
    .graphic-title2 {
        display: none;
    }
}

.graphic-title2 {
    margin-top: 6px;
}

/* INFO */

.about {
    margin-top: 24px;
    width: 100%;
}

.info {
    margin-top: 48px;
}

.mailto {
    margin-left: 24px;
}

.arena {
    margin-left: 24px;
}

.cv {
    margin-top: 48px;
}

.services {
    margin-top: 48px;

    display: flex;
    flex-flow: column wrap;
}

/* WORKS */

.project-title {
    position: relative;
    margin-left: 54px;
}

@media (max-width: 414px) {
    .project-title {
        margin-left: 0;
    }
}

.project-description-container {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: minmax(180px, auto);
    column-gap: 12px;

    margin-bottom: 24px;
}

@media (max-width: 414px) {
    .project-description-container {
        margin-bottom: 12px;
    }
}

.project-info {
    grid-column: 4 / 12;
    grid-row: 3 / 4;
}

@media (max-width: 414px) {
    .project-info {
        grid-column: 1 / 15;
        grid-row: 3 / 4;
        align-self: flex-end;
    }
}

@media (max-width: 414px) {
    .project-icon {
        width: 24px;
    }
}

.project-icon {
    grid-column: 14 / 15;
    grid-row: 3 / 4;

    justify-self: right;
    align-self: flex-end;
}

.project-info2 {
    grid-column: 4 / 12;
    margin-top: 24px;
    margin-bottom: 200px;
}

@media (max-width: 414px) {
    .project-info2 {
        grid-column: 1 / 15;

        margin-top: 12px;
        margin-bottom: 180px;
    }
}

/* MAGIS */

.magis-project-showcases {
    width: 100%;
    grid-column: 3 / 15;
    
    padding-left: 25px;
}

.magis-project-info3 {
    grid-column: 4 / 12;
    margin-bottom: 200px;
}

@media (max-width: 414px) {
    .magis-project-info3 {
        grid-column: 1 / 15;

        margin-top: 0;
        margin-bottom: 294px;
    }
}

.magis-project-customize {
    width: 100%;
    grid-column: 1 / 15;
}

.magis-project-description-footer {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: minmax(12px, auto);
    gap: 12px;

    margin-bottom: 24px;
    padding: 0;
}

.tag {
    grid-column: 4 / 6;
}

/* CASHLAB */

.cashlab-project-label {
    width: 100%;
    height: auto;
    grid-column: 4 / 15;

    margin-bottom: 48px;
}

.magis-project-customize {
    width: 100%;
    grid-column: 1 / 15;
}

.magis-project-description-footer {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: minmax(12px, auto);
    gap: 12px;

    margin-bottom: 24px;
    padding: 0;
}

.tag {
    grid-column: 4 / 6;
}

/* Slider JS */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container {
    grid-column: 1 / 15;
    position: relative;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 22px !important;
    width: 50% !important;
    height: 100% !important;
    cursor: url('https://image.shutterstock.com/image-vector/share-icon-arrow-white-shadow-260nw-1098423941.jpg'), auto;
}

.swiper-button-next {
    right: 0 !important;
}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-button-next:hover {
    right: 0 !important;
    cursor: url('/images/arrow_next_1.png'), auto;
}

.swiper-button-prev:hover {
    cursor: url('images/arrow_preview_1.png'), pointer;
}

.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}

.swiper-button-next img, .swiper-button-prev img {
    width: 100%;
    height: auto;
}