* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    vertical-align: baseline;
    
    margin: 0.75em;
    padding: 0em;
    max-width: 100%;
}

h1 {
    font-size: 44px;
    line-height: 1em;
    letter-spacing: -0.025em;
}

h2 {
    font-size: 22px;
    line-height: 1.15em;
    font-weight: 100;
    letter-spacing: -0.02em;
}

h3 {
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 100;
    letter-spacing: -0.02em;
}

span {
    font-style: oblique;
}

.nav-container {
    background-color: white;
    font-size: 22px;
    line-height: 1.5em;
    font-weight: 100;
    letter-spacing: -0.03em;
    list-style: none;

    padding: 0em;
    margin: 0em;
    margin-bottom: 0em;
    max-width: 100%;

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    column-gap: 12px;
}

.nav-item1 {
    grid-column: span 2;
}

.nav-item2 {
    grid-column: 12 / 13;
}

.nav-item3 {
    grid-column: 14 / 15;
    text-align: right;
}

.nav-container :link {
    color: black;
    text-decoration: none;
}

.nav-container :hover {
    color: black;
    text-decoration: none;
    font-style: italic;
}

.nav-container :visited {
    color: black;
    text-decoration: none;
}

#main-container {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    column-gap: 12px;
}

.main-homepage-text-container {
    grid-column: span 5;
}

.main-homepage-projects-container {
    grid-column: 1 / 12;

    margin-bottom: 60px;
}

.main-homepage-project-item {
    background-color: black;
    height: 720px;

    padding: 0em;
    margin-top: 1em;
}

.text-item1 {
    color: white;
    text-align: center;

    margin: 0em;

    position: relative;
    top: 680px;
}

.text-item2 {
    color: white;
    text-align: right;

    margin: 0em;

    position: relative;
    top: 655px;
    right: 20px;
}

.main-homepage-project-description {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    column-gap: 12px;
}

.project-description1 {
    grid-column: span 2;
}

.project-description2 {
    grid-column: 4/5;
}

.project-description3 {
    grid-column: 7/12;
}

.main-homepage-posters-container {
    position: fixed;
    top: 45px;
    right: 0.75em;
}

.main-homepage-books-container {
    position: fixed;
    top: 560px;
    right: 0.75em;
}

.graphic-title {
    margin-top: 12px;
}










